{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h1 class="auth-title">Forgot Password</h1>

        <p class="auth-subtitle">
            Enter your email address to receive an OTP
        </p>

        <form method="POST">

            <div class="mb-4">
                <input
                    type="email"
                    name="email"
                    class="form-control custom-input"
                    placeholder="Enter your email"
                    required
                >
            </div>

            <button type="submit" class="custom-btn w-100">
                Send OTP
            </button>

        </form>

    </div>

</div>

{% endblock %}