{% extends "base.html" %}

{% block title %}My Notes{% endblock %}

{% block content %}

<div class="notes-container">

    <h1 class="page-title">My Notes</h1>

    <!-- CREATE NOTE -->
    <div class="glass-card mb-5">

        <form method="POST">

            <input
                type="text"
                class="form-control custom-input mb-3"
                name="title"
                placeholder="Note Title"
            >

            <textarea
                class="form-control custom-input mb-4"
                name="content"
                rows="6"
                placeholder="Write your note..."
            ></textarea>

            <button class="custom-btn">
                Add Note
            </button>

        </form>

    </div>

    <!-- NOTES -->
    <div class="row">

        {% for note in notes %}

        <div class="col-lg-4 mb-4">

            <div class="note-card">

                <h3>{{ note.title }}</h3>

                <p>{{ note.content }}</p>

                <small>{{ note.created }}</small>

                <form method="POST" action="/delete/{{ note.id }}">

                    <button class="delete-btn mt-3">
                        Delete
                    </button>

                </form>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}