{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}

<div class="auth-card">

    <h1 class="auth-title">Create Account</h1>

    <form method="POST">

        <div class="mb-3">
            <input type="email" class="form-control custom-input" name="email" placeholder="Email Address">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control custom-input" name="firstName" placeholder="First Name">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control custom-input" name="lastName" placeholder="Last Name">
        </div>

        <div class="mb-3">
            <input type="password" class="form-control custom-input" name="password1" placeholder="Password">
        </div>

        <div class="mb-4">
            <input type="password" class="form-control custom-input" name="password2" placeholder="Confirm Password">
        </div>

        <button class="custom-btn w-100">
            Sign Up
        </button>

    </form>

</div>

{% endblock %}