{% extends "base.html" %}

{% block title %}Verify OTP{% endblock %}

{% block content %}

<div class="auth-card">

    <h1 class="auth-title">OTP Verification</h1>

    <p class="auth-subtitle">
        Enter the OTP sent to your email
    </p>

    <form method="POST">

        <input
            type="text"
            class="form-control custom-input mb-4 text-center"
            name="otp"
            placeholder="Enter OTP"
        >

        <button class="custom-btn w-100">
            Verify OTP
        </button>

    </form>

</div>

{% endblock %}